version: '2'
services:
  metric_producer:
    image: {{ image_repo }}:{{ image_tag }}
    entrypoint: ["python3"]
    command: [
      "nbdb/load_simulator/test_metric_producer.py",
      "--setting_file=nbdb/config/settings_prod.yaml",
      "--schema_mapping=default:nbdb/config/schema_prod.yaml",
      "--start_cluster_id={{ start_cluster_id }}",
      "--setup={{setup}}"
      ]
    cpu_shares: 1024
    mem_reservation: 2048m
    logging:
      driver: awslogs
      options:
        awslogs-group: AnomalyDB-metric-producer-{{ mode }}
        awslogs-region: {{ region }}
        awslogs-stream-prefix: {{ mode }}
